@{
    Layout = "_LayoutDettagli";
}

@model Libro




<body>
    <main id="main">
    </main>

</body>




@section Scripts {
    <script type="text/javascript">

        const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        axios.get(`/api/Apiamministrazione/${id}`).then((res) => {
            let libro = res.data;
            console.log('libro trovato', libro);
            document.getElementById("main").innerHTML +=
                `
                        <!-- partial:index.partial.html -->
        <div class="cover">
          <div class="book">
          <label for="page-1"  class="book__page book__page--1">
                    <img src="${libro.foto}" alt="imagine Libro">
          </label>

          <label for="page-2" class="book__page book__page--4">
            <div class="page__content">
              <h1 class="page__content-title">Dettagli</h1>
              <div class="page__content-blockquote">
                          <table>
                                  <tr>
                                            <td align="left">Isbn: </td><td align="left"> ${libro.isbn} </td>
                                  </tr>
                                <tr>
                                                    <td align="left"> <span class="myLikes">Likes: ${libro.like}</span></td><td align="left"></td><td align="right"><div class="heart"></div>   </td>
                          </tr>
                         
                                  <tr>
                                            <td align="left"> <p>${libro.prezzo} € </p></td><td align="left"></td><td align="right"></td>
                                  </tr>
                          <tr>
                            <td align="left"> </td><td align="left"></td><td align="right"></td>
                          </tr>
                                         < <td align="left">>
                                <a href="/Cliente/Ordine/${libro.id}" class="btn btn-info  ">
                                 <span class="glyphicon glyphicon-tag"></span> Ordina</a>
                            </td>

                        </table>

              </div>
              <div class="page__number">3</div>
            </div>
          </label>

          <!-- Resets the page -->
          <input type="radio" name="page" id="page-1"/>

          <!-- Goes to the second page -->
          <input type="radio" name="page" id="page-2"/>
          <label class="book__page book__page--2">
            <div class="book__page-front">
              <div class="page__content">
                                <h1 class="page__content-book-title">${libro.titolo}</h1>
                        <h2 class="page__content-author">${libro.autore}</h2>

                <p class="page__content-credits">

                  <span></span>
                </p>

                <p class="page__content-credits">

                  <span></span>
                </p>

                <div class="page__content-copyright">
                  <p>Genere:</p>
                          <p>${libro.genere.nome}</p>
                </div>
              </div>
            </div>
            <div class="book__page-back">
              <div class="page__content">
                <h1 class="page__content-title"> Trama </h1>

                         <p class="page__content-blockquote-text">${libro.trama} </p>

                <div class="page__number">2</div>
              </div>
            </div>
          </label>
        </div>
        </div>









                                        `;
                })
        
    </script>

}
