@Model Libri

<h1>Questa è la pagina dei dettagli</h1>


<body>

    <main>
        <article class="product">
        <picture class="product__img">
                <img src="https://img.wattpad.com/cover/195909725-352-k880999.jpg" alt="foto" />
        </picture>

        <div class="product__content">


                <p class="product__genere">Fantasy</p>

                <h1 class="product__title">Harry Potter and the Goblet of Fire</h1>

           <p> Durante l'estate dopo il terzo anno scolastico, Harry Potter è vittima di un sogno 
            in cui Lord Voldemort e il suo servo Codaliscia, alias Peter Minus, trovano rifugio 
            presso la villa abbandonata dei Riddle a Little Hangleton..</p>
                <div class="flex-group">
                <p class="product__price">15€</p>
                </div>
                <button class="button">Add to Cart</button>

            </div>

        </article>
    </main>
</body>