@model List<Libro>

@if (Model.Count == 0) {
    <h3>Nessun Libro in vendita</h3>

} else {


    <!-- Impostazione layout carousel -->
    <div class="container row">
        <div class="col descrizione">
            <h1> Buid your library   </h1>

            <img 
             
             src="/img/undraw_Bookshelves_re_lxoy.png"
              />

            <button class="noselect buttoneCarousel m-3"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left " aria-hidden="true" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>

                <span class="visually-hidden">Previous</span>
            </button>
            <button class="noselect buttoneCarousel"
                type="button"
                data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" bi bi-arrow-right" aria-hidden="true" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>

                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Inizio carousel -->
        <div class="col-4">
            <div id="carouselExampleInterval"
             class="carousel slide"
             data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" data-bs-interval="10000">
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block"
                         width="300"
                         height="400"
                         src="https://m.media-amazon.com/images/I/615cE9Mb-RL.jpg"
                         aria-label="Placeholder: First slide" />
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block"
                         width="300"
                         height="400"
                         src="https://m.media-amazon.com/images/I/71DCa-1brTL.jpg"
                         aria-label="Placeholder: Second slide" />
                    </div>
                    <div class="carousel-item active">
                        <img class="bd-placeholder-img bd-placeholder-img-lg d-block"
                         width="300"
                         height="400"
                         src="https://m.media-amazon.com/images/I/51Qr0XQQPXL.jpg"
                         aria-label="Placeholder: Third slide" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script type="text/javascript">

        loadProdotti();
        document.getElementById("SearchBar").addEventListener("keyup", searchProdotto);

       
    </script>
    }

}
