<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleDettagli.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project_work_libreria.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
