@model List<Libro>

@foreach (Libro libri in Model)
{
            
            <div class="card" style="width: 18rem;">
            <img style="width: 10vw" src="@libri.Image">
            <h5 class="card-title">@libri.Price</h5>
            <div class="card-body">
            <p class="card-text">@libri.description</p>
  </div>
</div>
}
