@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div id="container">
    

</div>



@section Scripts {
    <script type="text/javascript">

        const button = document.querySelector(".heart-like-button");

        button.addEventListener("click", () => {
            if (button.classList.contains("liked")) {
                button.classList.remove("liked");
            } else {
                button.classList.add("liked");
            }
        });

    </script>

}
